body {
    /* Background color */
    

}
/* modifed div box values */
div {
    width: 300px;
    margin: auto;
    background-color: #FFF4A3;
}
canvas{
    position:fixed;
    top:0;
    left:0;
}




