body {
    /* Background color */
    color: black;
}
    h1 {
        background-color: black;   
        color: white;
       }
    div {
        background-color: black;
        color white;
    }

}
/* modifed div box values */
div {
    width: 300px;
    margin: auto;
    background-color: #000000;
}
canvas{
    position:fixed;
    top:0;
    left:0;
}




